/* TODO: some of these rules depend on outside components!
This belongs to the layout layer! */
.page-content {
  flex: 1; 
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .page-content {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .left-pane {
    width: 30%;
    border: 2px solid #ddd;
  }
  .right-pane {
    width: 70%;
    padding: 10px;
  }
}

@media screen and (min-width: 1067px) {
  .page-content, .page-header, .page-footer {
    width: 960px;
  }
}

.advert, .mail-nav, .mail-list, .content {
  margin: 5px;
}