.mail-nav {
  background-color: #ddd;
  padding: 10px;
}
.mail-nav > header {
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  padding: 5px;
  text-align: right;
}
.mail-nav ul {
  list-style-type: none;
}
.mail-nav-item {
  padding: 10px;
  border-bottom: 2px solid #FFF;
} 
.mail-nav-item:first-child {
  border-top: 2px solid #FFF;
} 
.mail-nav-item:hover {
  background-color: #eee;
  cursor: pointer;
}
.mail-nav-button {
  color: #5995DA;
  font-weight: bold;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}