.advert {
  color: green;
  background-color: yellow;
  border: 1px solid pink;
  text-align: center;
  height: 100px;
}

.advert h1 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}